* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
}

body{
    background: #cbd1cf;
}

.content {
    padding: 1rem;
    background-color: #fff;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    font-weight: 700;

}

.pagination button {
    background-color: lightgoldenrodyellow;
    color: darkgreen;
    border-radius: 1rem;
}

.pagination button:hover {
    text-shadow: red 2px 0, cyan -2px 0;
    box-shadow: red 2px 0, cyan -2px 0;
}

.pagination #previousPage {
    opacity: 0;
    visibility: hidden;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

.fecharJanela {
    background-color: lightgoldenrodyellow;
    color: darkgreen;
    border-radius: 1rem;
    margin: .5rem;
}

.fecharJanela:hover {
    text-shadow: red 2px 0, cyan -2px 0;
    box-shadow: red 2px 0, cyan -2px 0;
}
